/* Custom Styles Within Media Pages */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/*
    ===========
    Page Layout
    ===========
*/
body, html {
    display: flex;
    flex-flow: column;
    height: 100%;
    font-family: "Open Sans", sans-serif;

    overscroll-behavior: none;
}

.media-page-container {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-flow: row;
    overflow: hidden;
}



/*
    =================
    Media Page Navbar
    =================
*/
.navbar-custom {
    position: relative;

    /*border-bottom: 1px solid #000000;*/
}


/*
    =======
    Sidebar
    =======
*/
#search-bar {
    padding: 0.5em;
    border: none;
    font-size: 1.3rem;
    display: block;
    text-align: left;
    width: 100%;
    color: #000000;
    outline: none;
    background-color: #ffffff;

    position: sticky;
    top: 0;
    z-index: 3;
    float: none;
    margin: 0;
}

#search-bar::placeholder {
    color: #bebebe;
    opacity: 1;
}

.sidebar {
    /*float: left;*/
    height: 100%;
    width: 28.5em;
    padding: 0;
    /*!*position: fixed; !* Fixed Sidebar (stay in place on scroll) *!*!*/
    z-index: 1; /* Stay on top */
    background-color: #ffffff;
    /*overflow-y: -moz-scrollbars-vertical; !* must stay like this for elements to expand the width, then scroll bar fills in when content expands (this may need a "fix")*!*/
    overflow-y: scroll;
    overflow-x: hidden; /* Disable horizontal scroll */
    /*border-right: 1px solid black;*/
    /*box-shadow: 1px 0 5px -2px;*/
}

.location-menu {
    margin: 0;
    width: 100%;
    padding-inline-start: 0;
}

.sidebar-list-1 {
    list-style: none;
}

.sidebar-list-2 {
    list-style: none;
    border-left: #343434 2px solid;
    overflow: hidden;

    padding-left: 30px;
    /*max-height: 5em;*/

    transition: height 0.3s;
}

.sidebar-list-3 {
    list-style: none;
    border-left: #343434 2px solid;
    padding-left: 30px;
}

.sidebar button {
    font-family: "Open Sans", sans-serif; /* now necessary when button */
    font-size: 1.3rem;
    color: #000000;
    width: 100%;
    border: none;
    text-align: left;

    padding: 0.5em 0.5em 0.5em 1.5em;
    -webkit-user-drag: none; /* todo: still necessary now that it's button? */
    cursor: pointer;

    transition: background-color 0.2s;
}

.sidebar-list-1 button {
    background-color: #7a7a7a;
}

.sidebar-list-2 button {
    background-color: #acacac;
}

.sidebar-list-3 button {
    background-color: #e2e2e2;
}

.sidebar button:hover {
    text-decoration: none;

    color: black;
    background-color: #ffe54b;
    /*font-weight: 600;*/
    /*border-radius: 0.4em;*/

    /*transform: scale(1.03);*/

    transition: background-color 0.2s;
}

.sidebar button.active {
    background-color: #debb00;
    /*font-weight: 600;*/
    /*color: #ffffff;*/
    /*border-radius: 0.4em;*/

    /*transform: scale(1.03);*/

    transition: background-color 0.2s;
}

.dropdown-container {
    opacity: 1;
    overflow: hidden;

    transition: height 0.3s;
}



/*
    ===============
    Media Container
    ===============
 */
.media-container {
    position: relative; /* added in much later during dev to make 360video controls x% width stuff work */
    -webkit-user-drag: none;
    -webkit-user-select: none;
    /*position: fixed;*/
    /*width: 85%;*/
    height: 100%;
    flex: 1;
    max-width: initial;
    /*float: right;*/
    padding: 0;
    overflow: hidden;
}



/*
    =======
    General
    =======
*/
/*video::-internal-media-controls-overlay-cast-button {*/
/*    display: none;*/
/*}*/