/*
    Use this stylesheet for custom styles within the "media" pages (virtual tour, gallery) that are unused or conflict with other general page styles
*/

/* Page Setup */
body, html {
    display: -webkit-flex;
    -webkit-flex-flow: column;
    height: 100%;
}

.media-page-container {
    display: -webkit-flex;
    -webkit-flex-grow: 1;
    width: 100%;
    -webkit-flex-flow: row;
    overflow: hidden;
}


/* Navbar Styling */
.navbar-custom {
    /*background-color: transparent;*/
    position: relative;
    width: 100%;
    z-index: 1;
    min-height: 60px;

    height: 4vh;
    border-bottom: 1px solid black;
}

.navbar-links a {
    color: black;
    text-decoration: none;
}

@media screen and (max-width: 900px) {
    .navbar-links a {
        color: white;
        text-decoration: none;
    }
}

/* Sidebar Styling */
/*.sidebar {*/
/*    position: fixed!important;*/
/*    width: 25%;*/
/*    height: 100%;*/
/*    overflow: scroll;*/
/*    border: 1px solid black;*/
/*}*/

/*.sidebar-item-1 {*/
/*    width: 100%;*/
/*    display: block;*/
/*    padding: 8px 16px;*/
/*    text-align: left;*/
/*    float: none;*/
/*    white-space: normal;*/
/*}*/

/*.sidebar-item-1:hover {*/
/*    background-color: #f3f3f3;*/
/*}*/

/*.sidebar-item-2 {*/

/*}*/

/* Style the search box inside the navigation bar */
#search-bar {
    float: none;
    padding: 6px 8px;
    border: none;
    font-size: 20px;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    font-family: 'Blinker', sans-serif;
    color: #000000;
    outline: none;
    background-color: #ffffff;
}

#search-bar::placeholder {
    color: #bebebe;
    opacity: 1;
}

.sidebar {
    /*float: left;*/
    height: 100%;
    width: 20%;
    padding: 0;
    /*!*position: fixed; !* Fixed Sidebar (stay in place on scroll) *!*!*/
    z-index: 1; /* Stay on top */
    background-color: #ffffff;
    overflow-y: -moz-scrollbars-vertical; /* must stay like this for elements to expand the width, then scroll bar fills in when content expands (this may need a "fix")*/
    overflow-x: hidden; /* Disable horizontal scroll */
    border: 1px solid black;
    box-shadow: 1px 0 5px -2px;
}

.location-menu {
    width: 100%;
}

.sidebar-list-1 {
    opacity: 1;
    list-style: none;
    transition: opacity 0.4s;
}

.sidebar-list-2 {
    opacity: 1;
    list-style: none;
    transition: opacity 0.4s;
}

.sidebar-list-3 {
    list-style: none;
}

/* The navigation menu links */
.sidebar a {
    text-decoration: none;
    font-size: 20px;
    color: #000000;
    display: block;
    padding: 6px 8px 6px 32px;
    -webkit-user-drag: none;
}


.sidebar-list-1 a {
    background-color: #7a7a7a;
}

.sidebar-list-2 a {
    background-color: #acacac;
}

.sidebar-list-3 a {
    background-color: #e2e2e2;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
    text-decoration: none;
    color: black;
    background-color: #41b4ff;
}

/* Style page content */
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-width: 900px) {
    .sidebar {width: 25%;} /*todo: media container left responsive, fix responsive sidebar*/
    .sidebar a {font-size: 18px;}
    .sidebar button {font-size: 18px;}
}

.location-menu {
    padding-inline-start: 0;
}

/* Dropdown Button */

/* Add an active class to the active dropdown button */
/*.active {*/
/*    background-color: #989898;*/
/*    color: #f1f1f1;*/
/*}*/

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: block;
    background-color: #ffffff;
    padding-left: 32px;
}

/*!* Optional: Style the caret down icon *!*/
/*!* Use if icons should float right *!*/
/*.fa-caret-down {*/
/*  float: right;*/
/*  padding-right: 32px;*/
/*}*/

.sidebar button {
    text-decoration: none;
    font-size: 20px;
    background-color: #111111;
    color: #bebebe;
    display: block;
    outline: none;
    border: none;
    font-family: 'Blinker', sans-serif;
}

.sidebar button:hover {
    color: #f1f1f1;
}



/*

    Media Container & Map

 */
.media-container {
    -webkit-user-drag: none;
    -webkit-user-select: none;
    /*position: fixed;*/
    /*width: 85%;*/
    height: 100%;
    -webkit-flex: 1;
    max-width: initial;
    /*float: right;*/
    padding: 0;
    cursor: grab;
    overflow: hidden;
}

.map-container {
    display: inline-block;
    position: relative;
    height: 100%;
    width: auto;

    -webkit-user-drag: none;
    -webkit-user-select: none;

    transition: transform 0.2s; /* temp */
    transform-origin: 0 0;
}

.map-container img + .locations-container {
    position: absolute;
    top: 0;
    left: 0;
}

.map-container svg {
    -webkit-user-drag: none;
    -webkit-user-select: none;
    height: 100%;
    width: auto;
    /*padding: 15px 15px;*/
}

.locations-container {
    width: 100%;
    height: 100%;
}

.locations-container img {
    -webkit-user-drag: none;
    -webkit-user-select: none;
    position: relative;
}

.media-container:hover {

}

.location {
    /*fill: #c8c8c8 !important;*/
}

.location:hover {
    fill: #5a5a5a !important;
    cursor: pointer;
}



/*

    Interface Controls

*/
.exit-360-container {
    position: absolute;
    z-index: 5;
    display: flex;
    right: 0;
}

.exit-360-viewer {
    background-color: #414141;
    color: white;
    border: none;
    height: 60px;
    width: 90px;
    text-align: center;
    text-decoration: none;
    margin: 10px;
    opacity: 80%;
}

.map-layer-menu-container {
    width: 14rem;
    position: absolute;
    z-index: 5;
    right: 0;
}

.map-layer-menu-container button {
    display: block;
    width: 90%;
    padding: 4px 20px 4px 8px;
    /*margin: 20px 20px 0 20px;*/
    margin: 20px auto auto auto;
    text-align: left;
    font-size: 20px;
    -webkit-user-drag: none;
    text-decoration: none;
    color: #000000;
    background-color: #00bdff;
    border: none;
}

.map-layer-menu-container button:hover {
    text-decoration: none;
    color: black;
    background-color: #8ccdff;
}

.map-layer-menu {
    display: block;
    width: 90%;
    margin: auto;
    list-style: none;
    padding-inline-start: 0;
    cursor: default;
    background-color: #999999;
}

.map-layer-menu-sub {
    list-style: none;
    padding-inline-start: 0;
}

.map-layer-menu-sub li button {
    display: block;
    width: 100%;
    padding: 4px 0;
    margin: 0;
    background-color: #5a5a5a;
    text-align: center;
}

.map-layer-titles {
    display: block;
    text-align: center;
}



/*

    360 Viewer

*/
.viewer-360-container {
    height: 100%;
    width: 100%;
}


/* General Overrides */

.hidden-opacity {
    opacity: 0;
}

.hidden {
    display: none;
}

/*.test-crosshair {*/
/*    position: relative;*/
/*    align-self: center;*/
/*    height: 8px;*/
/*    width: 8px;*/
/*    background-color: #1b1e21;*/
/*    z-index: 20;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    margin: -4px 0 0 -4px;*/
/*}*/
