/* Custom Styles Within Media Pages */

/*
    ===========
    Page Layout
    ===========
*/
body, html {
    display: -webkit-flex;
    -webkit-flex-flow: column;
    height: 100%;
}

.media-page-container {
    display: -webkit-flex;
    -webkit-flex-grow: 1;
    width: 100%;
    -webkit-flex-flow: row;
    overflow: hidden;
}



/*
    =================
    Media Page Navbar
    =================
*/
.navbar-custom {
    background-color: transparent;
    position: relative;

    border-bottom: 1px solid #000000;
}

.navbar-links a {
    color: black;
}



/*
    =======
    Sidebar
    =======
*/
/*.sidebar {*/
/*    position: fixed!important;*/
/*    width: 25%;*/
/*    height: 100%;*/
/*    overflow: scroll;*/
/*    border: 1px solid black;*/
/*}*/

/*.sidebar-item-1 {*/
/*    width: 100%;*/
/*    display: block;*/
/*    padding: 8px 16px;*/
/*    text-align: left;*/
/*    float: none;*/
/*    white-space: normal;*/
/*}*/

/*.sidebar-item-1:hover {*/
/*    background-color: #f3f3f3;*/
/*}*/

/*.sidebar-item-2 {*/

/*}*/

#search-bar {
    float: none;
    padding: 8px 8px;
    border: none;
    font-size: 20px;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    font-family: 'Blinker', sans-serif;
    color: #000000;
    outline: none;
    background-color: #ffffff;
}

#search-bar::placeholder {
    color: #bebebe;
    opacity: 1;
}

.sidebar {
    /*float: left;*/
    height: 100%;
    width: 20%;
    padding: 0;
    /*!*position: fixed; !* Fixed Sidebar (stay in place on scroll) *!*!*/
    z-index: 1; /* Stay on top */
    background-color: #ffffff;
    overflow-y: -moz-scrollbars-vertical; /* must stay like this for elements to expand the width, then scroll bar fills in when content expands (this may need a "fix")*/
    overflow-x: hidden; /* Disable horizontal scroll */
    border: 1px solid black;
    box-shadow: 1px 0 5px -2px;
}

.location-menu {
    margin: 0;
    width: 100%;
    padding-inline-start: 0;
}

.sidebar-list-1 {
    opacity: 1;
    list-style: none;
    transition: opacity 0.4s;
}

.sidebar-list-2 {
    opacity: 1;
    list-style: none;
    transition: opacity 0.4s;
}

.sidebar-list-3 {
    list-style: none;
}

/* Menu Options */
.sidebar a {
    text-decoration: none;
    font-size: 20px;
    color: #000000;
    display: block;
    padding: 8px 8px 8px 32px;
    -webkit-user-drag: none;
}

.sidebar-list-1 a {
    background-color: #7a7a7a;
}

.sidebar-list-2 a {
    background-color: #acacac;
}

.sidebar-list-3 a {
    background-color: #e2e2e2;
}

.sidebar a:hover {
    text-decoration: none;
    color: black;
    background-color: #41b4ff;
}

/* todo: also necessary later when styling the sidebar items */
.active.dropdown-btn {
    background-color: #ff0000;
    color: #ffffff;
}

/*.dropdown-container { todo: overriding list style
    display: block;
    background-color: #ffffff;
    padding-left: 32px;
}*/

/*!* Optional: Style the caret down icon *!*/
/*!* Use if icons should float right *!*/
/*.fa-caret-down {*/
/*  float: right;*/
/*  padding-right: 32px;*/
/*}*/

/* todo: likely redundant since im using <a> links now */
/*.sidebar button {*/
/*    text-decoration: none;*/
/*    font-size: 20px;*/
/*    background-color: #111111;*/
/*    color: #bebebe;*/
/*    display: block;*/
/*    outline: none;*/
/*    border: none;*/
/*    font-family: 'Blinker', sans-serif;*/
/*}*/

/*.sidebar button:hover {*/
/*    color: #f1f1f1;*/
/*}*/



/*
    ===============
    Media Container
    ===============
 */
.media-container {
    position: relative; /* added in much later during dev to make 360video controls x% width stuff work */
    -webkit-user-drag: none;
    -webkit-user-select: none;
    /*position: fixed;*/
    /*width: 85%;*/
    height: 100%;
    -webkit-flex: 1;
    max-width: initial;
    /*float: right;*/
    padding: 0;
    cursor: grab;
    overflow: hidden;
}



/*
    =======
    General
    =======
*/

.hidden-opacity {
    opacity: 0 !important;
}

.hidden {
    display: none !important;
}



/*
    =====================
    Data Usage Disclaimer
    =====================
*/
.data-disclaimer {
    display: flex;
    height: 90px;
    width: 310px;
    z-index: 10;
    position: fixed;
    margin: 0;
    padding: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ff5757;
    color: white;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.video-360-container {
    display: block;
    width: 100%;
    position: absolute;
    z-index: 5;
    bottom: 0;
    text-align: center;
}

.video-360-button {
    width: 100px;
    height: 40px;
    display: inline-block;
}

.video-360-range {
    display: block;
    width: 90%;
    padding: 10px 0;
    margin: auto;
}

.map-layer-menu-container {
    width: 14rem;
    position: absolute;
    z-index: 5;
    right: 0;
.data-disclaimer p {
    margin: 0;
}

.close-btn {
    display: flex;
    font-weight: bold;
    float: right;
    font-size: 20px;
    text-align: center;
    align-items: center;
    margin-right: 12px;
    cursor: pointer;
}

.map-layer-titles {
    display: block;
    text-align: center;
}



/*

    360 Viewer

*/
.viewer-360-container {
    height: 100%;
    width: 100%;
    background-color: transparent;
    z-index: 1;
    opacity: 1;
    position: absolute !important;
    transition: none;

}

.viewer-360-container-secondary {
    height: 100%;
    width: 100%;
    background-color: transparent;
    z-index: 0;
    opacity: 1;
    position: absolute !important;
    transition: none;
}

/*.pnlm-container {*/
/*    position: absolute;*/
/*}*/


/* General Overrides */

.hidden-opacity-360video {
    opacity: 0 !important;
    transition: opacity 1.3s;
}

.hidden-opacity {
    opacity: 0;
}

.hidden {
    display: none !important;
}

/*.test-crosshair {*/
/*    position: relative;*/
/*    align-self: center;*/
/*    height: 8px;*/
/*    width: 8px;*/
/*    background-color: #1b1e21;*/
/*    z-index: 20;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    margin: -4px 0 0 -4px;*/
/*}*/
