/* Styles That Should Override All Others */

.hidden/*-display*/ {
    display: none !important;
}

.hidden-opacity {
    opacity: 0 !important;
}

.sidebar-selection-hidden {
    /*opacity: 0 !important;*/
    height: 0 !important;
    transition: 0.25s;
}

.hidden-opacity-360video {
    opacity: 0 !important;
    transition: opacity 1.4s;
}

.no-transition {
    transition: none !important;
}

/*
    Pannellum
*/
.pnlm-controls-container {
    opacity: 70%;
    inset: auto 16px 16px auto;
    z-index: 6;
}

.pnlm-control:hover {
    background-color: #c9c9c9;
}