/* Styles That Should Override All Others */

.hidden {
    display: none !important;
}

.sidebar-selection-hidden {
    height: 0 !important;
    transition: height 0.3s;
}

/* media transition cover for virtual tour & gallery as well as map transition */
.media-trans-hidden {
    opacity: 0 !important;
    transition: opacity 0.25s;
}