/* Custom Styles Within Virtual Tour */

/*
    ========
    Map Area
    ========
*/
.map-container {
    display: inline-block;
    position: relative;
    height: 100%;
    width: auto;
    padding: 100px 150px;

    -webkit-user-drag: none;
    -webkit-user-select: none;

    transition: transform 0.2s; /* temp */
    transform-origin: 0 0;
}

/*.map-container img + .locations-container { todo: unused
    position: absolute;
    top: 0;
    left: 0;
}*/

.map-container svg {
    -webkit-user-drag: none;
    -webkit-user-select: none;
    height: 100%;
    width: auto;
    /*padding: 15px 15px;*/
}

/*.locations-container { todo: unused
    width: 100%;
    height: 100%;
}

.locations-container img {
    -webkit-user-drag: none;
    -webkit-user-select: none;
    position: relative;
}*/

.location {
    /*fill: #c8c8c8 !important;*/
}

.location:hover {
    fill: #5a5a5a !important; /* necessary to override because svg style is inlined */
    cursor: pointer;
}



/*
    ==================
    Interface Controls
    ==================
*/
#north-sidebar-button, #south-sidebar-button, #outside-sidebar-button {
    position: sticky;
    top: 0;
    z-index: 1;
}



.exit-media-button-container {
    position: absolute;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;

    inset: 16px 16px auto auto;
    margin: 0;
}

.exit-media-button {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    height: 35px;
    width: 35px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0;
    opacity: 70%;
}

.exit-media-button img {
    height: 16px;
    width: 16px;
}

.video-360-button {
    width: 100px;
    height: 40px;
    display: inline-block;
}

.video-360-range {
    display: block;
    width: 90%;
    padding: 10px 0;
    margin: auto;
}

.map-layer-menu-container {
    width: 14rem;
    position: absolute;
    z-index: 5;
    right: 0;
}

.map-layer-menu-container button {
    display: block;
    width: 90%;
    padding: 4px 20px 4px 8px;
    /*margin: 20px 20px 0 20px;*/
    margin: 20px auto auto auto;
    text-align: left;
    font-size: 20px;
    -webkit-user-drag: none;
    text-decoration: none;
    color: #000000;
    background-color: #50c7ff;
    border: none;
    cursor: pointer;
}

.map-layer-menu-container button:hover {
    text-decoration: none;
    color: black;
    background-color: #8ccdff;
}

.map-layer-menu {
    display: block;
    width: 90%;
    margin: auto;
    list-style: none;
    padding-inline-start: 0;
    cursor: default;
    background-color: #999999;
}

.map-layer-menu-sub {
    list-style: none;
    padding-inline-start: 0;
}

.map-layer-menu-sub li button {
    display: block;
    width: 100%;
    padding: 4px 0;
    margin: 0;
    background-color: #5a5a5a;
    text-align: center;
}

.map-layer-titles {
    display: block;
    text-align: center;
}



/*
    ==========
    360 Viewer
    ==========
*/
.viewer-360-container {
    height: 100%;
    width: 100%;
    background-color: transparent;
    z-index: 1;
    opacity: 1;
    position: absolute !important;
    transition: none;
}

.viewer-360-container-secondary {
    height: 100%;
    width: 100%;
    background-color: transparent;
    z-index: 0;
    opacity: 1;
    position: absolute !important;
    transition: none;
}

.video-360-container {
    display: block;
    width: 100%;
    position: absolute;
    z-index: 5;
    bottom: 0;
    text-align: center;
}



/*
    ============
    Linear Video
    ============
*/
.video-js {
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: 1;
    opacity: 1;
    position: absolute !important;
    transition: none;
}


/*
    =======
    General
    =======
*/
